
.header-left img{
    width: auto;
    height: 80px;
    margin-top: 30px;
    margin-right: 20px;
} 

 .header-left{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.title {
    display: flex;
    overflow: hidden;
    color: orange;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    margin-bottom: 40px;
  }
  
  .title span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  
  .title.-visible span {
    transform: translateY(10px);
    opacity: 0;
  }
  
  .title span:nth-child(1) {
    /* transition-delay: 0.06s; */
    animation: bigger-font .76s linear 1 normal forwards;
  }
  .title span:nth-child(2) {
    /* transition-delay: 0.06s; */
    animation: bigger-font .76s linear .5s 1 normal forwards;
  }
  .title span:nth-child(3) {
    /* transition-delay: 0.12s; */
    animation: bigger-font .76s linear 1s 1 normal forwards;
  }
  
  .title span:nth-child(4) {
    /* transition-delay: 0.18s; */
    animation: bigger-font .76s linear 1.5s 1 normal forwards;
  }
  .title span:nth-child(5) {
    /* transition-delay: 0.24s; */
    animation: bigger-font .76s linear 2s 1 normal forwards;
  }
  .title span:nth-child(6) {
    /* transition-delay: 0.30s; */
    animation: bigger-font .76s linear 2.5s 1 normal forwards;
  }
  .title span:nth-child(7) {
    /* transition-delay: 0.36s; */
    animation: bigger-font .76s linear 3s 1 normal forwards;
  }
  .title span:nth-child(8) {
    /* transition-delay: 0.42s; */
    animation: bigger-font .76s linear 3.5s 1 normal forwards;
  }
  .title span:nth-child(9) {
    /* transition-delay: 0.48s; */
    animation: bigger-font .76s linear 4s 1 normal forwards;
  }
  .title span:nth-child(10) {
    /* transition-delay: 0.54s; */
    animation: bigger-font .76s linear 4.5s 1 normal forwards;
  }
  .title span:nth-child(11) {
    /* transition-delay: 0.6s; */
    animation: bigger-font .76s linear 5s 1 normal forwards;
  }
  /* .title span:nth-child(12) {  */
    /* transition-delay: 0.66s; */
    /* animation: bigger-font .76s linear 5.5s 1 normal forwards;
  }  */
  /* .title span:nth-child(13) {  */
    /* transition-delay: 0.72s; */
    /* animation: bigger-font .76s linear 1s 1 normal forwards;
  } */
  /* .title span:nth-child(14) { */
    /* transition-delay: 0.78s; */
    /* animation: bigger-font .76s linear 1s 1 normal forwards;
  } */
   
  /****** Base style. ******/
  
  @keyframes bigger-font{
      from{
          transform: translateY(10px);
          opacity: 0;
      }
      to{
          transform: translateY(0);
          opacity: 1;
      }
  }
/* span{
    display: flex;
    font-size: 70px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    color: orange;
} */

.container img{
    width: auto;
    height: 20px;
    
}

.container li{
    font-size: 20px;
    margin-left: 40px;
}

.container ul{
    display: flex;
    justify-content: center;
    background-color: gray;
    margin-top: 10px;
}

.kv{
   background-image: url(./img/IMG_0431.jpg);
   height: 600px;
   margin-top: 150px;
   display: flex;
   align-items: center;
}

/* h2{
    color: white;
    font-size: 50px;
    margin-top: 300px;
    margin-left: 50px;
} */


.contact{
    margin-top: 100px;
}
/* .contact img{
    width: 400px;
    height: auto;
    border-radius: 50%;

} */

.font{
    text-align: center;
    margin-top: 100px;
}

.title-a{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

p{
    margin-top: 10px;
    padding-top: 10px;
}

.contact{
    margin-bottom: 150px;
}

.title-b{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

.content{
  width: 250px;
  height: 200px;
}

.slideshow{
  display: flex;
  animation: cat-slide 20s infinite linear 1s both;
  -webkit-animation: cat-slide 20s infinite linear 1s both;
  animation: cat-slide 20s infinite linear 1s both; 
}

.wrap{
  display: flex;
  align-items: center;
  height: 340px;
  overflow: hidden;
  margin-bottom: 100px;
}

/* @-webkit-keyframes cat-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

@keyframes cat-slide{
  from{
    transform:  translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.content-hover {
  transition: all 0.2s;
  margin-right: 20px;
}

.content-hover:hover {
  transform: translateY(-20px);
  border-radius: 0 10%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}
/* ここからボタン */
.button014 a {
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.button014 a::before {
content: '';
position: absolute;
top: -5px;
left: -5px;
width: calc(100% - 4px);
height: calc(100% - 4px);
border: 2px solid orange;
transition: 0.2s;
}

.button014 a::after {
content: '';
width: 5px;
height: 5px;
border-top: 3px solid #333333;
border-right: 3px solid #333333;
transform: rotate(45deg);
}

.button014 a:hover::before {
top: 0;
left: 0;
}

.button014 a:hover {
text-decoration: none;
background-color: orange;
}

.footer{
  text-align: center;
  background-color: gray;
  margin-top: 100px;
}
/* html2ページ */
 .icon-left img{
  width: auto;
  height: 80px;
  margin-right: 10px;
  margin-top: 70px;
} 

.sub-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h2{
  font-size: 60px;
  color: orange;
  font-family: 'Playfair Display', serif;
  margin-top: 100px;
  margin-bottom: 20px;
}

.boder-top img{
  width: auto;
  height: 20px;
  margin-top: 5px;
}

.boder-top ul{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: gray;
}

.boder-top li{
  margin-left: 40px;
}
  

.title-c{
  font-size: 30px;
  font-weight: bold;
}

.readmore{
  font-size: 15px;
  border: solid 1px black;
  text-align: center;
  margin: 20px 100px;

}

/* html2ページ目 */
.cicon-left img{
  width: auto;
  height: 60px;
  margin: 30px 10px;
}

.icon-left{
  display: flex;
  justify-content: center;
  align-items: center;
}



.ct{
  display: flex;
  justify-content: center;
}

.ct img{
  margin-right: 30px;
}

.ct{
  margin-top: 100px;
}

.at{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.at img{
  margin-right: 30px;
}

.sn{
  max-width: auto;
  height: 600px;
}
.title-d{
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
}

.n1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.n1 img{
  margin-right: 30px;
}

.box{
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

/* ３ページ目 */
.con{
  border: solid 1px gray;
  margin-bottom: 50px;
}
.con-wrap img{
  width: 100%;
  max-width: 1920%;
  height: 600px;
  object-fit: cover;
}

.con-wrap{
  margin-bottom: 50px;
}

h3{
  font-size: 50px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 50px;
}

.th{
  text-align: center;
}

.sec-title{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto 130px auto;
}
#contact dd input,#contact dd textarea{
  width: 50%;
  border: solid 1px black;
  padding: 10px;
  margin-left: 250px;
}

#contact dd textarea{
  padding: 50px;
}

#contact dt label{
  margin-left: 100px;
  padding-top: 100px;
}

#contact .button input{
  width: 200px;
  background-color: navy;
  color: white; 
  padding: 15px 0;
  border: solid 1px navy;
  text-align: center;
  margin-top: 10px;
}

.button{
  margin-left: 400px;
}

@media screen and (max-width:767px){
  .ct{
    display: block;
  }
  .ct img{
    margin-left: 220px;
  }

  .ct-about{
    margin-left: 200px;
  }

  .title-c{
    margin-left: 90px;
  }
  
  .at-about{
    margin-left: 200px;
  }
  .readmore{
  padding: 10px 100px;
  margin-left: auto;
  }

 .at{
  display: block;
  }

  .at img{
    margin-left: 220px;
  }

  .sec-title{
    margin-left: 120px;
  }
  .button{
    margin-left: 20px;
  }

  .button{
    margin-left: 300px;
    padding: 10px 20px;
  }
}
